Repository FlashOWare/FlashOWare.Tool, pull requests merged in 2023-11, with the labels that each got.

#70 feat: count only specified using directives
  src/libraries/FlashOWare.Tool.Cli/CliApplication.UsingDirectives.cs
  src/libraries/FlashOWare.Tool.Core/UsingDirectives/UsingCountResult.cs
  src/libraries/FlashOWare.Tool.Core/UsingDirectives/UsingCounter.cs
  src/tests/FlashOWare.Tool.Cli.Tests/Testing/Usings.cs
  src/tests/FlashOWare.Tool.Cli.Tests/UsingDirectives/UsingCounterTests.cs
  src/tests/FlashOWare.Tool.Core.Tests/UsingDirectives/UsingCounterTests.cs
Labels: type:feat, changelog:added, scope:using

#71 feat: globalize many using directives or force all
  src/libraries/FlashOWare.Tool.Cli/CliApplication.UsingDirectives.cs
  src/libraries/FlashOWare.Tool.Core/CodeAnalysis/CSharpSyntaxFactory.cs
  src/libraries/FlashOWare.Tool.Core/UsingDirectives/UsingCountResult.cs
  src/libraries/FlashOWare.Tool.Core/UsingDirectives/UsingDirective.cs
  src/libraries/FlashOWare.Tool.Core/UsingDirectives/UsingGlobalizationResult.cs
  src/libraries/FlashOWare.Tool.Core/UsingDirectives/UsingGlobalizer.cs
  src/tests/FlashOWare.Tool.Cli.Tests/UsingDirectives/UsingGlobalizerTests.cs
  src/tests/FlashOWare.Tool.Core.Tests/Assertions/ToolAssert.cs
  src/tests/FlashOWare.Tool.Core.Tests/UsingDirectives/UsingGlobalizerTests.cs
Labels: type:feat, type:fix, changelog:added, changelog:fixed, scope:using

#73 build: consolidate build directory
  .config/dotnet-tools.json
  build.ps1
  build.sh
  src/FlashOWare.Tool.sln
  src/build/FlashOWare.Tool.Build/.editorconfig
  src/build/FlashOWare.Tool.Build/Build.cs
  src/build/FlashOWare.Tool.Build/Configuration.cs
  src/build/FlashOWare.Tool.Build/Directory.Build.props
  src/build/FlashOWare.Tool.Build/Directory.Build.targets
  src/build/FlashOWare.Tool.Build/FlashOWare.Tool.Build.csproj
Labels: type:build, scope:repo, changelog:none

#63 build: add package properties
  .gitattributes
  .gitignore
  .nuke/parameters.json
  docs/CHANGELOG-Prerelease.md
  docs/CHANGELOG.md
  docs/Index.md
  global.json
  nuget.config
  resources/FlashOWare.Tool-Prerelease.png
  resources/FlashOWare.Tool-Preview.png
  resources/README.md
  src/build/FlashOWare.Tool.Build/Build.cs
  src/tests/FlashOWare.Tool.Cli.Tests/FlashOWare.Tool.Cli.Tests.csproj
  src/tools/FlashOWare.Tool/FlashOWare.Tool.csproj
  src/tools/FlashOWare.Tool/Properties/AssemblyInfo.cs
Labels: type:build, changelog:added, scope:tool

#76 docs: add changelog
  docs/CHANGELOG-Prerelease.md
  docs/CHANGELOG.md
Labels: type:docs, scope:repo, changelog:none

#77 docs: add documentation
  README.md
  docs/Index.md
  docs/commands/flashoware-using-count.md
  docs/commands/flashoware-using-globalize.md
  docs/commands/flashoware-using.md
  docs/commands/flashoware.md
  resources/FlashOWare.Tool-Dark.png
  resources/FlashOWare.Tool-Light.png
  resources/README.md
Labels: type:docs, scope:repo, changelog:none

#78 release: v1.0.0-prerelease1
  .nuke/parameters.json
  README.md
  docs/CHANGELOG-Prerelease.md
  docs/README.md
Labels: scope:repo, changelog:none, type:release

#80 ci: install missing .NET SDK
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  src/build/FlashOWare.Tool.Build/Build.cs
Labels: type:cd, type:ci, scope:repo, changelog:none

#79 feat: target .NET 8.0
  .config/dotnet-tools.json
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .gitignore
  README.md
  build.sh
  docs/CHANGELOG-Prerelease.md
  docs/CHANGELOG.md
  docs/README.md
  global.json
  src/build/FlashOWare.Tool.Build/Build.cs
  src/build/FlashOWare.Tool.Build/FlashOWare.Tool.Build.csproj
  src/libraries/FlashOWare.Tool.Cli/FlashOWare.Tool.Cli.csproj
  src/libraries/FlashOWare.Tool.Core/FlashOWare.Tool.Core.csproj
  src/tests/FlashOWare.Tool.Cli.Tests/CodeAnalysis/LanguageVersionExtensions.cs
  src/tests/FlashOWare.Tool.Cli.Tests/FlashOWare.Tool.Cli.Tests.csproj
  src/tests/FlashOWare.Tool.Cli.Tests/Testing/Build.cs
  src/tests/FlashOWare.Tool.Cli.Tests/Testing/TargetFramework.cs
  src/tests/FlashOWare.Tool.Core.Tests/FlashOWare.Tool.Core.Tests.csproj
  src/tools/FlashOWare.Tool/FlashOWare.Tool.csproj
Labels: type:feat, changelog:added, scope:tool
